# input

In [2]:
a = int(input("please enter a number: "))

please enter a number: 12

In [50]:
b = float(input("please enter a number: "))
b

please enter a number: 3.14

3.14

In [6]:
a,b,c = [int(x) for x in input("enter three numbers").split()]
c

enter three numbers10 20 30

30

In [13]:
arr = [int(x) for x in input().split()]
arr

10 0 20 20 20

[10, 0, 20, 20, 20]

In [15]:
arr = list(map(int,input().split()))

10 20 20 20 140 14 0

In [ ]:
quotiont, remainder = divmod(5,3)
print(quotiont)
print(remainder)

In [9]:
9//8 #floored quotiont of x/y

1

# math function

In [15]:
import math
print(abs(-3))
print(pow(2,3)) # same as 2**3
print(math.floor(2.3))
print(math.ceil(2.3))
print(math.sqrt(11))
print(round(3.4567,3))
print(round(3.5))

3
8
2
3
3.3166247903554
3.457
4

# Random

In [3]:
import random 
#randint() generates random integer in given range
print(random.randint(1,10)) 
 #random() generates random float number 
print(random.random())

9
0.9710355078636902

In [25]:
arr = [1,2,3,4,5,6,7]
# choosing a random element from the array 
random.choice(arr)

3

In [32]:
#return a random integer in range n 
random.randrange(10)

5

In [42]:
#creating a random arrany of 6 elements where each element lies in range(100)
arr = random.sample(range(100),6)
arr

[63, 39, 2, 65, 13, 26]

In [34]:
from  datetime import date
date.today()

datetime.date(2022, 9, 2)

In [48]:
today = date.today()
birthday = date(1997,4,29)
age = today - birthday
age

datetime.timedelta(days=9257)

In [39]:
now = datetime.datetime.now()
print(now.strftime("%Y-%m-%d %H:%M:%S"))

2022-09-02 22:46:02

# list

In [17]:
x = [1,2,3,4,5,6]
print(x[:2])
print(x[2:])
print(x[1:3])
print(x[-1])

[1, 2]
[3, 4, 5, 6]
[2, 3]
6

In [19]:
fruits = ["apple","banana","pine-apple","Grape"]

In [24]:
for fruit in fruits:
    print(fruit)

apple
banana
pine-apple
Grape

In [25]:
for i in range(len(fruits)):
    print(i,fruits[i])

0 apple
1 banana
2 pine-apple
3 Grape

# List function

In [54]:
fruits = ['apple','banana','orange','pineapple','grape','apple','apple']
print('total apple in list:',fruits.count('apple'))

total apple in list: 3

In [55]:
print(fruits.pop())  #remove and return last element from list
fruits

apple

['apple', 'banana', 'orange', 'pineapple', 'grape', 'apple']

In [56]:
fruits.append('jackfruit')
fruits

['apple', 'banana', 'orange', 'pineapple', 'grape', 'apple', 'jackfruit']

In [57]:
fruits.reverse() #reverse the list elements
fruits

['jackfruit', 'apple', 'grape', 'pineapple', 'orange', 'banana', 'apple']

# List as queue

In [1]:
from collections import deque

In [5]:
num = [1,2,3,4,5,6]
queue = deque(num)
print(queue.popleft())

1

# list comprehension

In [6]:
arr = [ x**2 for x in range(10)]
print(arr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
arr = [(x,y) for x in [1,2,3] for y in [3,4,5] if (x!=y)]
arr

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5)]

# sorting in array

In [60]:
num = [10, 11,8, 4,6,3]
num.sort() #sorting in ascending order
num

[3, 4, 6, 8, 10, 11]

In [62]:
num.sort(reverse = True) #sorting in descending order 
num

[11, 10, 8, 6, 4, 3]

In [35]:
def fib(n):
    a = 0
    b = 1
    fibarr =[]
    while(a<n):
        fibarr.append(a)
        a,b = b,a+b
        
    print(fibarr)
fib(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [17]:
question = ['name','address','age','sex']
answer = ['Abu Kowcher','Noakhali','25','Male']

In [18]:
for q,a in zip(question,answer) :
    print('what is your {} : {}'.format(q,a))

what is your name : Abu Kowcher
what is your address : Noakhali
what is your age : 25
what is your sex : Male

# Dictionary

In [12]:
file_count = {'image':20, 'audio':200, 'video':140, 'text':23}

'image' in file_count

True

In [13]:
file_count['text']

23

In [14]:
for key,value in file_count.items():
    print('number of {} is {} '.format(key,value))

number of image is 20
number of audio is 200
number of video is 140
number of text is 23

In [22]:
print(file_count.keys())
print(file_count.values())

dict_keys(['image', 'audio', 'video', 'text'])
dict_values([20, 200, 140, 23])

In [24]:
for key in file_count.keys():
    print(key)

image
audio
video
text

In [26]:
for val in file_count.values():
    print(val)

20
200
140
23

In [25]:
for extension in file_count: 
    print(extension)

image
audio
video
text